# Distributed-Motion-S3 DMS3Server Component Systemd Service Unit
# 1.4.2

[Unit]
Description=Distributed Motion Sense Surveillance Service (DMS3) Server
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/dms3server

[Install]
WantedBy=multi-user.target