# Distributed-Motion-S3 DMS3Client Component Systemd Service Unit
# 1.4.4

[Unit]
Description=Distributed Motion Sense Surveillance Service (DMS3) Client
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/bin/dms3client

# Set this value when running the Motion application
# (see dms3libs.toml for additional details)
#
WorkingDirectory=/usr/local/etc/motion

[Install]
WantedBy=multi-user.target