[Unit]
Description=Distributed Motion Sense Surveillance Service (DMS3) Client
After=network.target

[Service]
Type=simple
Restart=on-failure
ExecStart=/usr/local/go/bin/go /etc/go-distributed-motion-s3/server_start.go


[Install]
WantedBy=multi-user.target