# Distributed-Motion-S3 (DMS3) MAIL configuration file
# TOML 0.4.0

[Email]
	# EmailFrom is the email sender
	From = "dms3mail@businesslearninginc.com"

	# EmailTo is the email recipient
	To = "user@gmail.com"

	# EmailBody is the email body
	# Note that reserved words use the syntax !ALLCAPS and are parsed and replaced
	#
	Body = "Motion detected an event of importance. The event (!EVENT) shows !PIXELS pixels changed, and was captured by Camera !CAMERA."

[SMTP]
	# SMTPAddress is the SMTP address of the recipient
	Address = "smtp.gmail.com"

	# SMTPPort is the port used by the recipient email account
	Port = 587

	# SMTPDomain is the receiving email domain
	Domain = "localhost"

	# SMTPUsername is the username of the recipient
	Username = "user"

	# SMTPPassword is the password of the recipient
	Password = "password"

	# SMTPAuthentication is the email server authentication scheme
	Authentication = "plain"

	# SMTPEnableStartTLSAuto indicates whether TLS is used
	EnableStartTLSAuto = true

[Logging]
	# LogLevel sets the log levels for application logging using the following table:
	#
	#  0 - OFF, no logging
	#  1 - FATAL, report fatal events
	#	2 - INFO, report informational events
	#  4 - DEBUG, report debugging events
	#
	LogLevel = 1

	# LogDevice determines to what device logging should be set using the following table:
	#
	#  0 - STDOUT (terminal)
	#	1 - log file
	#
	# Ignored if LogLevel == 0
	#
	LogDevice = 0

	# LogFilename is the logging filename
	# Ignored if LogLevel == 0 or LogDevice == 0
	#
	LogFilename = "dms3mail.log"

	# LogLocation is the location of logfile (absolute path)
	# Ignored if LogLevel == 0 or LogDevice == 0
	#
	LogLocation = "/var/log/dms3"